<div class="reservations-container">
  <h2 class="reservations-title">予約済み一覧</h2>

  <table class="reservations-content">
    <thead>
      <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>合計料金</th>
        <th>チェックイン</th>
        <th>チェックアウト</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td>
            <% if reservation.room.image.present? %>
              <%= image_tag reservation.room.image.url, alt: reservation.room.name, class: "room-image" %>
            <% else %>
              <p>画像がありません</p>
            <% end %>
          </td>
          <td><%= link_to reservation.room.name, room_path(reservation.room) %></td>
          <td><%= reservation.room.details %></td>
          <td><%= number_to_currency(reservation.total_price , unit: "￥", precision: 0, format: "%u%n") %></td>
          <td><%= reservation.check_in.strftime("%Y/%m/%d") if reservation.check_in %></td>
          <td><%= reservation.check_out.strftime("%Y/%m/%d") if reservation.check_out %></td>
          <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
