<!DOCTYPE html>
<html>
  <head>
    <title>StayFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>    
  <header class="Navber">
    <%= link_to(image_tag("Potepan_logo.png", alt: "サイトロゴ", class: 'Navbar-logo', width: "250"), root_path) %>
    
  <% if user_signed_in? %>
  <nav>
    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar.url, class: "avatar-image" %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "avatar-image" %>
          <% end %>
          <span class="user-name"><%= current_user.name %></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><%= link_to "施設の新規登録", new_room_path, class: "dropdown-item" %></li>
           <li><%= link_to "予約済み一覧", user_reservations_path(current_user), class: "dropdown-item" %></li>
          <li><%= link_to "登録済み一覧", rooms_path, class: "dropdown-item" %></li>
          <li><%= link_to "アカウント設定", account_path, class: "dropdown-item" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
  </nav>
  <% else %>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary">
          <%= link_to "新規登録", new_user_registration_path, class: "text-light" %>
        </button>
      </li>
    </ul>
  </nav>
<% end %>
</header>
    <%= yield %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body> 
</html>